<div class="main-container">
  <div class="white-field">
    <h2><strong>Het e-book 'Freelancers beginners guide' is naar je onderweg!</strong></h2>
    <br>
    <p>Bedankt voor het downloaden van mijn e-book - ik hoop dat je er veel aan hebt! Speciaal voor jou heb ik nu een tijdelijke aanbieding. Doe nu mee met mijn e-course 'Praktische basics om voor jezelf te beginnen' en start direct met je eerste stappen naar je vrije bestaan!</p>
    <p>Dit is een gelimiteerd aanbod, schrijf je deze week in en krijg de e-course met een megakorting. €299,- INCL. BTW (Doorstrepen en nu €97,- bij zetten)</p>
    <a class="btn btn-danger" href="#">Maak gebruik van dit aanbod</a>
  </div>
  <div class="green-field">
    <%= image_tag "elke5.jpg", height: 400, width: 300 %>
  </div>
</div>
<div class="main-container">
  <div class="white-field-all-text">
    <header>
      <h2><strong>Herken je dit?</strong></h2>
      <br>
      <ul>
        <li>Je wilt graag <strong>meer vrijheid</strong> en voelt je gevangen in je vaste baan</li>
        <li>Je wilt de <strong>regie over je eigen leven</strong> en meer zeggenschap hebben over hoe je je werkende leven invult</li>
        <li>Je wilt een <strong>goede work-life balance</strong></li>
        <li>Je wilt je tijd <strong>zelf indelen</strong> en zelf bepalen <strong>wanneer</strong> en <strong>waar</strong>je werkt</li>
        <li>Maar, je durft de stap maar niet te zetten en bent bang dat het <strong>veel te ingewikkeld is</strong></li>
        <li>Hoewel de vrijheid van het eigen baas zijn je trekt denkt je dat jij dat <strong>nooit zo goed</strong> voor jezelf zou kunnen regelen</li>
        <li>Je hebt de angst dat je dingen <strong>over het hoofd</strong> ziet waardoor je in de problemen zou kunnen komen</li>
      </ul>
      <br>
      <p>Dit is een gelimiteerd aanbod, schrijf je deze week in en krijg de e-course met een megakorting. €299,- INCL. BTW (Doorstrepen en nu €97,- bij zetten)</p>
      <a class="btn btn-danger" href="#">Doe nú mee met mijn e-course</a>
    </header>
  </div>
</div>
<div class="main-container-green">
  <div class="green-field-all-text">
    <h2><strong>Je hoeft niet alles zelf uit te zoeken, dat heb ik al voor je gedaan!</strong></h2>
    <br>
    <p>En wat als ik je vertel dat..</p>
    <ul>
      <li>Je ook als eigen baas <strong>veel zekerheid</strong> kunt creëren</li>
      <li>Een <strong>goede organisatie en administratie niet moeilijk is</strong> om te organiseren</li>
      <li>Maar je wel gaat helpen met enorm veel <strong>overzicht en rust</strong></li>
      <li>Als je alles goed opzet je <strong>niet bang</strong> hoeft te zijn</li>
      <li>Het helemaal <strong>niet ingewikkeld</strong> is om eigen baas te zijn!</li>
      <li>Ik als eigen baas - door mijn goede opzet in het begin - <strong>nooit stress</strong> heb ervaren en mijn <strong>financiële situatie veel rustiger en overzichtelijker</strong> is dan toen in nog in loondienst werkte</li>
    </ul>
  </div>
</div>
<div class="main-container">
  <div class="white-field-text">
    <header>
      <h2><strong>Waarom heb ik deze cursus gemaakt?</strong></h2>
      <br>
      <p>Toen ik voor mezelf begon vond ik dat <strong>mega spannend</strong>. Ik was 25 jaar en wist vooral zeker dat ik niet gelukkig werd van het werken voor een baas. <strong>Ik wilde vrijheid, zelf kunnen bepalen aan welke projecten ik werkte, mijn eigen tijd kunnen indelen en meer van de wereld zien</strong>. Maar het heeft even geduurd voordat ik de sprong durfde te wagen. <strong>Ik was bang</strong> dat ik niet genoeg zou verdienen, bang dat het met niet zou lukken goed overzicht te creëeren en bang dat ik voor altijd geldzorgen zou hebben om de belastingdienst wel (op tijd, want wanneer moet dat eigenlijk?!) te kunnen betalen. Toen ik het heft eindelijk in eigen handen genomen had heeft dit me veel stress opgeleverd; mijn administratie opzetten, de KvK, de belastingdienst, mijn financiën - <strong>ik heb het allemaal met vallen en opstaan en veel kopzorgen moeten leren.</strong></p>
      <p><strong>Die kopzorgen wil ik jou heel graag besparen.</strong> Ik weet precies wat je praktische nodig hebt om nú voor jezelf te beginnen.En biedt je handige stappen, duidelijke handvaten en templates om goed geregeld eigen baas te worden zónder stress en mét overzicht en rust.</p>
      <br>
      <a class="btn btn-danger" href="#">Doe nú mee met mijn e-course</a>
    </header>
  </div>
</div>
<div class="main-container-green">
  <div class="green-field-all-text">
    <header>
      <h2><strong>Na de cursus Praktische basics om voor jezelf te beginnen:</strong></h2>
      <br>
      <ul>
        <li>Heb je een <strong>goede basis</strong> neergezet voor jouw bestaan als eigen baas</li>
        <li>Is je eigen en financiële <strong>administratie op orde</strong> vanaf het begin</li>
        <li>Heb je <strong>fijne templates</strong> om de rest van jouw vrije carrière mee te werken</li>
        <li>Heb je voor <strong>altijd handvaten</strong> om op terug te vallen als je toch chaos ervaart als eigen ondernemer</strong></li>
        <li>Heb je een <strong>flinke schop onder je kont</strong> gehad om nú echt aan de slag te gaan.</li>
      </ul>
      <br>
      <a class="btn btn-danger" href="#">Ik ga beginnen</a>
    </header>
  </div>
</div>
<div class="main-container">
  <div class="white-field-all-text">
    <h2><strong>E-COURSE PRAKTISCHE BASICS OM VOOR JEZELF TE BEGINNEN
      €299,- INCL. BTW (Doorstrepen en nu €97,- bij zetten)</strong></h2>
    <br>
    <h4><strong>In deze cursus krijg je:</strong></h4>
    <br>
    <ul>
      <li><strong>4 modulen met duidelijke video’s</strong> die jou stuk voor stuk een concrete stap laten zetten om georganiseerd voor jezelf te beginnen.</li>
      <li><p>Een <strong>concreet stappenplan</strong> dat je zal helpen om overzichtelijk en goed geordend jezelf op te zetten als eigen baas. Gebaseerd op mijn eigen ervaringen waardoor ik al ruim 8 jaar succesvol voor mezelf werk. </p></li>
      <li><p><strong>Slimme opdrachten</strong> die ervoor zorgen dat jij gaandeweg de cursus alles wat je moet regelen en opzetten gedegen hebt uitgevoerd.</p></li>
      <li><p>Een heleboel to-the-point <strong>tools, templates en oefeningen</strong> waar je direct mee aan de slag kunt.</p></li>
      <li><p><strong>Voor altijd toegang tot de cursus</strong>, al het materiaal en de templates zodat jij de cursus in je eigen tijd en tempo kunt volgens waar en wanneer jij dat wilt <strong>én altijd handvaten hebt</strong> om op terug te vallen.</p></li>
    </ul>
    <p>Nu met een super waardevolle bonus: <strong>plan gratis een call met mij</strong> waarin we samen naar jouw specifieke situatie zullen kijken en ik je live zal helpen met het invullen en opzetten van jouw eigen vrije carrière. </p>
    <br>
    <a class="btn btn-danger" href="#">Wil ik!</a>
  </div>
</div>
<div class="main-container">
  <div class="green-field-text">
    <header>
      <h2><strong>4 modules</strong></h2>
      <p><strong>Bonus: een gratis call met mij! Waar je een uur 100% de tijd nemen om jouw situatie te bespreken en ik je live zal helpen met het invullen en opzetten van jouw eigen vrije carrière.</strong></p>
      <a class="btn btn-danger" href="#">Ga ik allemaal doen!</a>
    </header>
  </div>
</div>
<div class="main-container">
  <div class="white-field-text">
    <header>
      <h2><strong>Waarom kan juist ik je helpen?</strong></h2>
      <br>
      <p>Al ruim 8 jaar werk ik al eigen baas. Nadat ik al op mijn 25e besloot om mijn goede baan bij een reclamebureau op te zeggen. In de afgelopen jaren heb ik heel veel geleerd. Ik heb niet alleen al die jaren al veel succes (mijn omzet is tot nu toe elk jaar alleen maar gestegen!) maar ik heb ook nooit meer stress. Na veel twijfel en kopzorgen in het begin van mijn eigen vrije carrière heb ik een duidelijk systeem voor mezelf opgezet; ik heb mijn administratie goed op orde, ik kan mezelf altijd betalen (en de de belastingdienst ook) en ik ervaar veel financieel rust en overzicht. Daarom kan ik de projecten kiezen waar ík aan wil werken, wanneer en waar ik dat zelf wil.</p>
      <p><strong>Heel graag bespaar ik jou die kopzorgen die ik in het begin had! Die zijn namelijk écht niet nodig.</strong></p>
      <p>Met al mijn ervaring, kennis, tools en templates help ik je om jouw bestaan als eigen baas een kick-start te geven. Dit zal je zelf orde, rust en overzicht te creëren waar je de rest van jouw vrije carrière profijt van zult hebben.</p>
      <br>
      <a class="btn btn-danger" href="#">Laat mij je helpen</a>
    </header>
  </div>
</div>
<div class="main-container-green">
  <div class="green-field-all-text">
    <h2><strong>Q&A</strong></h2>
    <ul>
      <li>Wanneer begint de cursus?</li>
      <li>Hoe lang krijg ik toegang tot de cursus?</li>
      <li>Ik twijfel of ik wel klaar ben voor deze praktische stappen?</li>
      <li>Kan ik een BTW-Factuur krijgen?</li>
    </ul>
    <p></p>
    <p>Deze e-course begint wanneer jij dit zelf wil. Je krijgt toegang tot een online omgeving waar je altijd op kunt (blijven) inloggen en je kunt de cursus dus volgen in je eigen tijd.</p>
    <p></p>
    <p>Voor altijd! Je kunt deze e-course terugkijken zo vaak als je wilt en de tools, handvaten en templates dus ook blijven gebruiken.</p>
    <p></p>
    <p>Misschien is dat wel het probleem? Ik geloof dat je uit de twijfel modus moet en in de actie modus! Als je erover nadenkt om voor jezelf te beginnen is deze cursus je meest praktische echte eerste stap. Alles wat je leert en doet tijdens deze e-course heb je sowieso nodig om je eigen baas-bestaan op te zetten, niks te verliezen eigen toch?</p>
    <p></p>
    <p>WNatuurlijk! Je krijgt deze automatisch als je je inschrijft voor de e-course. Mocht hier iets misgaan neem dan contact op met elke@elke.amsterdam</p>
  </div>
</div>
