<div class="main-container">
  <div class="white-field">
    <h2><strong>Leer in 4 simpele stappen voor jezelf te beginnen met mijn e-book 'Freelancers beginners guide'!</strong></h2>
    <br>
    <p>Zodat je niet meer afhankelijk bent van je baan in loondienst. Je regie krijgt over je eigen werkende leven en werkt aan wat, waar en wanneer jij dat wilt.</p>
    <div class="_form_1"></div><script src="https://elke.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>
  </div>
  <div class="green-field">
    <%= image_tag "elke5.jpg", height: 400, width: 300 %>
  </div>
</div>
<div class="main-container">
  <div class="green-field">
    <%= image_tag "Elke6-new.png", height: 500, width: 300 %>
  </div>
  <div class="white-field">
    <h2><strong>Over mij</strong></h2>
    <p>Al ruim 8 jaar werk ik als  eigen baas. Nadat ik al op mijn 25e besloot om mijn goede baan bij een reclamebureau op te zeggen. In de afgelopen jaren heb ik heel veel geleerd. Ik heb niet alleen al die jaren al veel succes maar ik heb ook nooit meer stress. Na veel twijfel en kopzorgen in het begin van mijn eigen vrije carrière heb ik een duidelijk systeem voor mezelf opgezet; ik heb mijn administratie goed op orde, ik kan mezelf altijd betalen (en de de belastingdienst ook) en ik ervaar veel financieel rust en overzicht. Daarom kan ik de projecten kiezen waar ík aan wil werken, wanneer en waar ik dat zelf wil.</P>
    <p><strong>Heel graag bespaar ik jou die kopzorgen die ik in het begin had! Die zijn namelijk écht niet nodig.</strong></p>
    <p>Met al mijn ervaring, kennis, tools en templates help ik je om jouw bestaan als eigen baas een kick-start te geven. Door zelf orde, rust en overzicht te creëren waar je de rest van jouw vrije carrière profijt van zult hebben.</p>
    <a class="btn btn-danger" href="/over-mij">Meer over mij</a>
  </div>
</div>
