<div class="main-container">
  <div class="white-field">
    <h2><strong>Ik help mensen om voor zichzelf te beginnen en eigen baas te worden.</strong></h2>
    <p>Download nu mijn e-book de Freelancers beginners guide en leer in 4 simpele stappen om het heft in eigen hand te nemen, eigen baas te worden en vrijheid en regie te ervaren in jouw werkende leven.</p>
    <div class="_form_1"></div><script src="https://elke.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>
  </div>
  <div class="green-field">
    <%= image_tag "elke1.jpg", height: 400, width: 500 %>
  </div>
</div>
<div class="main-container">
  <div class="green-field">
    <%= image_tag "elke2.jpg", height: 400, width: 500 %>
  </div>
  <div class="white-field">
    <h2><strong>Stop met dromen van eigen baas zijn - kom in actie!</strong></h2>
    <p>Je werkt in loondienst maar droomt er al tijden van om voor jezelf te beginnen. <strong>Je voelt je gevangen in je baan.</strong> Niet persé omdat je baan niet leuk is maar omdat je voelt dat er meer is. Dat er meer mogelijkheden voor je zijn als eigen baas.</p>
    <p><strong>Maar je weet niet hoe je moet beginnen.</strong></p>
    <p>Je bent op zoek naar meer vrijheid. Het zou zo fijn zijn als je meer zeggenschap zou hebben over welk werk je doet. En nog beter zou het zijn als je je eigen tijd zou kunnen indelen. <strong>Je wil een goede work-life balance</strong> en het zou nóg beter zijn ls je ook zelf zou kunnen bepalen waar je werkt.</p>
    <p><strong>Tijd om aan te pakken en jouw eigen vrije leven te creëren als eigen baas!</strong></p>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="white-field">
    <h2><strong>Over mij</strong></h2>
    <p>Al ruim 8 jaar werk ik als  eigen baas. Nadat ik al op mijn 25e besloot om mijn goede baan bij een reclamebureau op te zeggen. In de afgelopen jaren heb ik heel veel geleerd. Ik heb niet alleen al die jaren al veel succes maar ik heb ook nooit meer stress. Na veel twijfel en kopzorgen in het begin van mijn eigen vrije carrière heb ik een duidelijk systeem voor mezelf opgezet; ik heb mijn administratie goed op orde, ik kan mezelf altijd betalen (en de de belastingdienst ook) en ik ervaar veel financieel rust en overzicht. Daarom kan ik de projecten kiezen waar ík aan wil werken, wanneer en waar ik dat zelf wil.
    <p><strong>Heel graag bespaar ik jou die kopzorgen die ik in het begin had! Die zijn namelijk écht niet nodig.</strong></p>
    <p>Met al mijn ervaring, kennis, tools en templates help ik je om jouw bestaan als eigen baas een kick-start te geven. Door zelf orde, rust en overzicht te creëren waar je de rest van jouw vrije carrière profijt van zult hebben.</p>
    <a class="btn btn-danger" href="/over-mij">Meer over mij</a>
  </div>
  <div class="green-field">
    <%= image_tag "elke3.jpg", height: 400, width: 500 %>
  </div>
</div>
<div class="main-container">
  <div class="white-field">
    <h2><strong>Schrijf je nu in voor de nieuwsbrief!</strong></h2>
    <br>
    <div class="_form_3"></div><script src="https://elke.activehosted.com/f/embed.php?id=3" type="text/javascript" charset="utf-8"></script>
    <br>
  </div>
</div>
