<div class="main-container">
  <div class="green-field">
    <%= image_tag "elke1.jpg", height: 400, width: 480 %>
  </div>
  <div class="white-field">
    <h2><strong>Mijn verhaal</strong></h2>
    <p>Hi, ik ben Elke en ik werk al ruim 8 jaar voor mezelf en help mensen ook eigen baas te worden en het vrije leven te leven!</p>
    <p>Op mijn 25e besloot ik na 3 jaar in loondienst dat dit niks voor mij was en nam het heft in mijn eigen handen. Graag neem ik je even mee terug naar die tijd.</p>
    <p>Daar zat ik dan, voor de zoveelste dag op een rij op dezelfde bureaustoel, met hetzelfde uitzicht, achter dezelfde computer omringt door - hele leuke - maar weer dezelfde collega’s. Ik was net afgestudeerd en had het grote geluk te mogen beginnen als junior strateeg bij één van de betere reclamebureaus van Nederland. Een droombaan volgens velen. Wat zou ik veel gaan leren, en wat had ik veel geluk. Maar gelukkig werd ik er niet van. Elke dag begon ik mij een beetje meer af te vragen waarom ik toch eigenlijk elke dag weer op diezelfde bureaustoel moest gaan zitten. Ik merkte dat ik niet productiever werd van steeds dezelfde omgeving en dezelfde soort taken. Ik vroeg me af waarom iemand eigenlijk ooit bedacht had dat het goed was om alle mensen één duidelijke baan en functie te geven. En belangrijkste nog, wat heeft het voor zin om mensen elke dag op dezelfde afgebakende tijden vast te houden? Zijn alle mensen echt het meest productief tussen 8.00 en 17.00? Elke dag? Zou het niet veel efficiënter zijn mensen te laten werken aan verschillende soorten projecten op tijden die relevant zijn voor dat desbetreffende project en henzelf?</p>
    <p>Ik zei mijn baan op.</p>
  </div>
</div>
<div class="main-container">
  <div class="white-field">
    <p>Met de volle overtuiging dat het beter kon.
      Ik begon voor mezelf beginnen. En zou niet alleen maar
      strateeg zijn. Maar ook wel eens project manager als daar een
      leuk project in voorbij kwam. Of misschien wel producer. Of
      zou ik ook yoga docent worden? Het belangrijkst was in elk
      geval dat ik zou kunnen werken aan de projecten die ik zou
      willen doen, waar en anneer dat voor mij goed uit zou
      komen.</p>
    <p>En toen was ik 25 en werkloos.</p>
    <p>De 'mazzel' die ik had
      was dat de baan die ik
      achterliet zo slecht
      betaalde dat ik gewend
      was met weinig geld
      vooruit te kunnen. Toen
      ik net voor mezelf
      begon had ik dus ook
      maar weinig nodig.
      Via via (oude klasgenoten, oude werkcontacten, mensen uit
      mijn eigen netwerk) begon ik met kleine klusjes. Die eerste
      maanden greep ik gewoon alles aan wat op mijn pad kwam.</p>
    <p><strong>Al snel verdiende ik meer dan toen ik nog in loondienst
      werkte.</strong></p>
    <p>Direct vanaf het begin heb ik een goed beeld gecreëerd van
      mijn financiële situatie. Een deel van de verdiensten van mijn
      eerste projecten is meteen weggezet om een buffer te
      creëren. En ik heb nooit problemen met het betalen van de
      belastingen. Mijn administratie is overzichtelijk en ik heb grip.
      Ik ontdekte dat het echt mogelijk is om mijn eigen projecten te
      kiezen, te werken waar en wanneer ik maar wil én ook nog
      heel goed te verdienen.
      Inmiddels heb ik mijn, voor mij, perfecte leven gecreëerd:</p>
      <p>- Ik werk gemiddeld 6 maanden, en reis de rest van het jaar</p>
      <p>- Ik heb financiële rust</p>
      <p>- Ik werk aan de projecten die ik leuk vind</p>
      <p>- Ik werk wanneer ik dat wil, en waar ik wil</p>
      <p>Dit gun ik jou ook! En daarom begeleid ik je graag in het proces
      naar meer vrijheid, ook jij kunt het heft weer in eigen handen
      nemen! In het vervolg van dit e-book leg ik jou in 4 simpele
      stappen uit hoe je begint.</p>
  </div>
  <div class="green-field">
    <%= image_tag "elke7-new.png", height: 550, width: 320 %>
  </div>
</div>
<div class="main-container">
  <div class="green-field">
    <%= image_tag "elke8.jpg", height: 400, width: 480 %>
  </div>
  <div class="white-field">
    <h2><strong>Dit is 100% Elke:</strong></h2>
    <ul>
      <li><p>Levensgenieter! Tijd met de mensen van waarvan ik hou, de hele wereld over reizen en genieten van goed eten en drinken - daar maak je mij het aller gelukkigst mee!</p></li>
      <li><p>Efficiëntie is essentieel naar mijn mening. Ik houd ervan om dingen te structureren en efficiënt aan te pakken. Ik creëer voor alles een systeem of een template en houd ervan orde in chaos te scheppen.</p></li>
      <li><p>Vrijheid is mijn allergrootste goed! Mijn eigen tijd indelen is heel belangrijk voor mij. In mijn ervaring ben ik veel productiever als ik kan werken wanneer ik dat wil. Ik sport en reis heel graag en neem daar ook graag de tijd voor.</p></li>
      <li><p>Reizen is mijn grootste hobby. Vooral sinds ik eigen baas ben reis ik de hele wereld over. Van Midden- en Zuid-Amerika tot Azie of Afrika, I love it all! Het liefst ga ik steeds een paar maanden en neem ik mijn laptop en werk gewoon met me mee.</p></li>
      <li><p>Ik ben snel verveeld en heb veel afwisseling nodig. Het is voor mij echt nodig om veel variatie op te zoeken in mijn dagelijks leven, zowel werkinhoudelijk als in omgeving, tijdsindeling en mensen. </p></li>
      <li><p>Al op mijn 25e begon ik voor mezelf. Ik heb een goede intuïtie en voelde al direct toen ik begin met werken in loondienst dat het anders moest voor mij. </p></li>
    </ul>
  </div>
</div>
<div class="main-container">
  <div class="white-field">
    <h2><strong>Schrijf je nu in voor de nieuwsbrief!</strong></h2>
    <br>
    <div class="_form_3"></div><script src="https://elke.activehosted.com/f/embed.php?id=3" type="text/javascript" charset="utf-8"></script>
    <br>
  </div>
</div>
