.home-navbar {
  position: sticky;
  top: 0%;
  z-index: 1;

}
.top-banner {
  background-color: #FB6746;
  text-align: center;
  height: 50px;
  padding-top: 6px;
  h5 {
    color: white;
    padding-top: 7px;
    font-weight: bold;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  background-color:#DFE7E7 !important;
}

li {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0rem 0.3rem;
    clear: both;
    font-weight: 300;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.navbar-collapse {
  justify-content: end;
}
